<script setup lang="ts">

import {Flashcard} from "../model/Flashcard.ts";
import {inject, onMounted, Ref, ref, watch} from "vue";
import DeckService from "../services/DeckService.ts";
import {useToast} from "primevue/usetoast";
import {useRoute, useRouter} from "vue-router";
import {Template} from "../model/Template.ts";

type Option = { name: string, code: number }

const deckService = inject("DeckService") as DeckService;

const route = useRoute();
const deckId = +route.params.deckId
const cardId = +route.params.id
const card = ref(new Flashcard(undefined, deckId, '', ''))
const toast = useToast();
const router = useRouter();
const rectoRef = ref("");
const deck = deckService.getDecks().value.find(it => it.id == deckId)
const templates: Ref<Template[]> = ref([])
const templatesOptions: Ref<Option[]> = ref([])
const template = ref()
deckService.getTemplates(deckId).then((data) => {
  templates.value = data
  templatesOptions.value = data.map(it => {
    return {name: it.title, code: it.id!}
  })
})

watch(template, (value) => {
  if (value != null) {
    card.value = new Flashcard(undefined, deckId, templates.value?.find(it => it.id === value.code)?.recto!, templates.value?.find(it => it.id === value.code)?.verso!)
  }
})
onMounted(() => {
  if (Number.isInteger(cardId)) {
    const theCard = deckService.getCard(cardId)
    if (theCard == undefined) return
    card.value = theCard
  }
})

const saveCard = () => {
  const promise = card.value.id != null ? deckService.updateCard(card.value) : deckService.saveCard(card.value)
  promise.then((newCard) => {
    router.push("/deck/" + deckId)
    toast.add({severity: 'success', summary: 'Carte sauvegardée', detail: 'Carte sauvegardée avec succès!', life: 1000})
    if (newCard != null) {
      card.value.id = newCard.id;
    }
  }).catch(() => {
    toast.add({
      severity: 'error',
      summary: 'Erreur',
      detail: 'Une erreur est survenue lors de la sauvegarde de la carte',
      life: 1000
    })
  })
}

const saveCardAndNext = () => {
  deckService.saveCard(card.value).then(() => {
    card.value = new Flashcard(undefined, deckId, '', '')
    //@ts-ignore
    rectoRef.value.$el.focus()
    toast.add({severity: 'success', summary: 'Carte créée', detail: 'Carte créée avec succès!', life: 1000})
  }).catch(() => {
    toast.add({
      severity: 'error',
      summary: 'Erreur',
      detail: 'Une erreur est survenue lors de la création de la carte',
      life: 1000
    })
  })
}

</script>

<template>
  <div>
    <Card>
      <template #title>
        Ajouter une carte au deck {{ deck?.title }}
      </template>
      <template #content>
        <FloatLabel class="floatlabel">
          <Dropdown v-if="templates.length > 0 && card.id == null" v-model="template" :options="templatesOptions"
                    optionLabel="name"
                    placeholder="Utiliser un template"/>
          <label for="recto">Utiliser un template</label>
        </FloatLabel>

        <FloatLabel class="floatlabel">
          <TextArea id="recto" v-model="card.recto" cols="50" rows="4" ref="rectoRef"/>
          <label for="recto">Recto</label>
        </FloatLabel>
        <FloatLabel class="floatlabel">
          <TextArea id="verso" v-model="card.verso" rows="10" cols="50"/>
          <label for="verso">Verso</label>
        </FloatLabel>
      </template>
      <template #footer>
        <div class="footer">
          <Button v-if="card.id == null" label="Créer et suivante" @click="saveCardAndNext"/>
          <Button label="Sauvegarder" @click="saveCard"/>
        </div>
      </template>
    </Card>
  </div>
</template>

<style scoped>

h2 {
  color: inherit;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.floatlabel {
  margin-bottom: 2rem;
}
</style>
