<script setup lang="ts">
import {useRoute, useRouter} from "vue-router";
import {inject, ref} from "vue";
import DeckService from "../services/DeckService.ts";
import {Deck} from "../model/Deck.ts";
import {useToast} from "primevue/usetoast";

const deckService = inject("DeckService") as DeckService;
const route = useRoute();
const router = useRouter();
const toast = useToast();
const id = +route.params.id

const deck = ref<Deck>(new Deck(undefined, '', '',))

if (Number.isInteger(id)) {
  deck.value = deckService.get(id) ?? new Deck(undefined, '', '',);
}

const saveDeck = () => {
  (deck.value?.id == null ? deckService.create(deck.value) : deckService.save(deck.value)).then((savedDeck) => {
    toast.add({severity: 'success', summary: 'Deck sauvegardé', detail: 'Deck sauvegardé avec succès!', life: 1000})
    router.push(`/deck/${savedDeck.id}`)
  }).catch(() => {
    toast.add({
      severity: 'error',
      summary: 'Erreur',
      detail: 'Une erreur est survenue lors de la sauvegarde du deck',
      life: 1000
    })
  })
}

</script>

<template>
  <div>
    <FloatLabel class="floatlabel">
      <InputText id="titre" v-model="deck.title"/>
      <label for="titre">Titre</label>
    </FloatLabel>
    <FloatLabel class="floatlabel">
      <TextArea id="description" v-model="deck.description" cols="50" rows="10"/>
      <label for="description">Description</label>
    </FloatLabel>
    <Button label="Enregistrer" @click="saveDeck" :disabled="(deck?.title ?? '') == ''"/>
  </div>
</template>

<style scoped>

.floatlabel {
  margin-bottom: 2rem;
}
</style>