<script setup lang="ts">
import {useRoute, useRouter} from "vue-router";
import {inject, ref} from "vue";
import DeckService from "../services/DeckService.ts";
import {Deck} from "../model/Deck.ts";
import {Flashcard} from "../model/Flashcard.ts";
import {marked} from "marked";

const deckService = inject("DeckService") as DeckService;
const route = useRoute();
const router = useRouter();
const id = +route.params.id

const deck = ref<Deck | undefined>(deckService.get(id))

const deleteCard = (card: Flashcard) => {
  deckService.deleteCard(card).then(() => {
    deck.value = deckService.get(id);
  });
}

const resetCard = (card: Flashcard) => {
  card.aquisitionNumber = 0;
  card.nextShowDate = new Date();
  deckService.updateCard(card);
}

</script>

<template>
  <div>
    <header>
      <h1>{{ deck?.title }}</h1>
      <Button icon="pi pi-plus" label="Ajouter" size="small" @click="router.push(`/deck/${id}/card`)"/>
    </header>
    <p>{{ deck?.description }}</p>
    <div class="container">
      <Card v-for="card in deck?.cards" :key="card.id" class="card m-4">
        <template #content>
          <div class="question" v-html="marked.parse(card?.recto)"/>
          <div v-html="marked.parse(card?.verso)"/>
        </template>
        <template #footer>
          <footer>
            <ButtonGroup>
              <Button icon="pi pi-replay" size="small" severity="secondary" aria-label="Reset"
                      @click="resetCard(card)"/>
              <Button icon="pi pi-pencil" size="small" severity="secondary" aria-label="Éditer"
                      @click="router.push(`/deck/${deck?.id}/card/${card.id}`)"/>
              <Button icon="pi pi-trash" size="small" severity="danger" aria-label="Supprimer"
                      @click="deleteCard(card)"/>
            </ButtonGroup>
          </footer>
        </template>
      </Card>
    </div>
  </div>
</template>

<style scoped>

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  flex-direction: row;
  flex-wrap: wrap;
}

footer {
  display: flex;
  flex-direction: row-reverse;
}

.card {
  flex: 1 1 0;
  align-self: stretch;
}

.m-4 {
  margin-left: 2rem;
  margin-top: 2rem;
}

.question {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

</style>
