<script setup lang="ts">
import {inject} from 'vue';
import DeckService from "../services/DeckService.ts";
import {useRouter} from "vue-router";
import {Deck} from "../model/Deck.ts";
import UserService from "../services/UserService.ts";

const router = useRouter();
const deckService = inject("DeckService") as DeckService;
const userService = inject("UserService") as UserService;
const decks = deckService.getDecks();

const deleteDeck = (deck: Deck) => {
  deckService.delete(deck).then(() => {
    decks.value = decks.value.filter((d) => d.id !== deck.id);
    decks.value = decks.value.filter(it => it.id != deck.id);
  });
}

</script>

<template>
  <div class="container">
    <header>
      <Button v-if="userService.getLoggedUser().value != null" icon="pi pi-plus" aria-label="Ajouter"
              @click="router.push(`/deck/add`)" label="Ajouter"/>
    </header>
    <main>
      <p v-if="userService.getLoggedUser().value == null">Retrouvez ici vos decks de flashcards, c'est-à dire vos
        flashcards organisées par thème.</p>
      <Card class="m-2" v-if="userService.getLoggedUser().value == null">
        <template #title>
          <header>
            L'apprentissage
            <ButtonGroup>
              <Button icon="pi pi-eye" aria-label="Voir" outlined/>
              <Button icon="pi pi-pencil" aria-label="Éditer" outlined/>
              <Button icon="pi pi-plus" aria-label="Ajouter une carte" outlined/>
              <Button icon="pi pi-trash" aria-label="Supprimer" severity="danger" outlined/>
            </ButtonGroup>
          </header>
        </template>
        <template #content>
          <p class="m-0">Comment apprendre efficacement ? Que sont les flashcards, les cartes mentales ? Qu'est-ce que
            l'apprentissage génératif ?</p>
        </template>
      </Card>
      <Card class="m-2" v-if="userService.getLoggedUser().value == null">
        <template #title>
          <header>
            Climat et environnement
            <ButtonGroup>
              <Button icon="pi pi-eye" aria-label="Voir" outlined/>
              <Button icon="pi pi-pencil" aria-label="Éditer" outlined/>
              <Button icon="pi pi-plus" aria-label="Ajouter une carte" outlined/>
              <Button icon="pi pi-trash" aria-label="Supprimer" severity="danger" outlined/>
            </ButtonGroup>
          </header>
        </template>
        <template #content>
          <p class="m-0">Qu'est-ce que le dérèglement climatique ? Quelles en sont les causes ? Quels liens avec la 6e
            extinction de masse ?</p>
        </template>
      </Card>
      <Card class="m-2" v-for="deck in decks" :key="deck.id">
        <template #title>
          <header>
            {{ deck.title }}
            <ButtonGroup>
              <Button icon="pi pi-eye" aria-label="Voir" @click="router.push(`/deck/${deck.id}`)" outlined/>
              <Button icon="pi pi-pencil" aria-label="Éditer" @click="router.push(`/deck/${deck.id}/edit`)" outlined/>
              <Button icon="pi pi-plus" aria-label="Ajouter une carte" @click="router.push(`/deck/${deck.id}/card`)" outlined/>
              <Button icon="pi pi-trash" aria-label="Supprimer" severity="danger" @click="deleteDeck(deck)" outlined/>
            </ButtonGroup>
          </header>
        </template>
        <template #content>
          <p class="m-0">{{ deck.description }}</p>
        </template>
      </Card>

    </main>
  </div>
</template>

<style scoped>

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-2 {
  margin: 0.5rem;
}
</style>