<script setup lang="ts">
import {inject, onMounted, onUnmounted, ref} from "vue";
import UserService from "../services/UserService.ts";
import {useToast} from "primevue/usetoast";
import {useRouter} from "vue-router";

const userService = inject("UserService") as UserService;
const toast = useToast();

const email = ref('');
const password = ref('');
const emailSignup = ref('');
const passwordSignup = ref('');
const name = ref('');
const router = useRouter();
const isMobile = ref(true);
const error = ref(false);
let mql: MediaQueryList;

function handleMqlChange(e: MediaQueryListEvent) {
  isMobile.value = e.matches
}

onMounted(() => {
  mql = window.matchMedia('(max-width: 1024px)')
  isMobile.value = mql.matches
  mql.addEventListener('change', handleMqlChange)
})

onUnmounted(() => {
  mql.removeEventListener('change', handleMqlChange)
})

const login = async () => {
  await userService.login(email.value, password.value)
  if (userService.getLoggedUser().value != null) {
    email.value = ''
    password.value = ''
    name.value = ''
    error.value = false
    router.push("/decks")
  } else {
    password.value = ''
    name.value = ''
    error.value = true
  }
}

const signup = async () => {
  await userService.signup(name.value, emailSignup.value, passwordSignup.value)
  emailSignup.value = ''
  passwordSignup.value = ''
  name.value = ''
  toast.add({
    severity: 'success',
    summary: 'Connexion réussie',
    detail: 'Veuillez vérifier votre boîte mail pour confirmer votre inscription'
  })
}
</script>

<template>
  <div class="container">
    <Panel class="panel" header="S'inscrire">
      <FloatLabel class="floatlabel">
        <InputText id="name" v-model="name" @keyup.enter="signup"/>
        <label for="name">Nom</label>
      </FloatLabel>
      <FloatLabel class="floatlabel">
        <InputText id="emailSignup" v-model="emailSignup" inputmode="email" @keyup.enter="signup"/>
        <label for="emailSignup">Email</label>
      </FloatLabel>
      <FloatLabel class="floatlabel">
        <Password id="passwordSignup" v-model="passwordSignup" @keyup.enter="signup"/>
        <label for="passwordSignup">Password</label>
      </FloatLabel>
      <Button label="S'inscrire" @click="signup"/>
    </Panel>

    <Divider :layout="isMobile ? 'horizontal' : 'vertical'">Ou</Divider>

    <Panel class="panel" header="Se connecter">
      <FloatLabel class="floatlabel">
        <InputText id="email" v-model="email" inputmode="email" @keyup.enter="login" :invalid="error"/>
        <label for="email">Email</label>
      </FloatLabel>
      <FloatLabel class="floatlabel">
        <Password id="password" v-model="password" :feedback="false" @keyup.enter="login" :invalid="error"/>
        <label for="password">Password</label>
      </FloatLabel>
      <Button label="Se connecter" @click="login" type="submit"/>
    </Panel>
  </div>
</template>

<style scoped>

button {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.floatlabel {
  margin-bottom: 2rem;
}

.panel {
  align-self: stretch;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}
</style>