<script setup lang="ts">

import {inject, onMounted, ref} from "vue";
import DeckService from "../services/DeckService.ts";
import {Flashcard} from "../model/Flashcard.ts";
import {marked} from "marked";
import UserService from "../services/UserService.ts";

const deckService = inject("DeckService") as DeckService;
const userService = inject("UserService") as UserService;
const cardToStudy = ref<Flashcard | null>();
const cards = deckService.getCardsToStudy()
const loggedUser = userService.getLoggedUser()
const showAnswer = ref(false)

onMounted(() => {
  cardToStudy.value = cards.value?.random();
})

const goodAnswer = async () => {
  if (cardToStudy.value == null) return;
  showAnswer.value = false;

  const newDate = new Date();
  newDate.setDate(newDate.getDate() + Math.pow(2, cardToStudy.value.aquisitionNumber))
  cardToStudy.value.nextShowDate = newDate;
  cardToStudy.value.aquisitionNumber = Math.min(cardToStudy.value.aquisitionNumber + 1, 5)
  await deckService.updateCard(cardToStudy.value)

  cards.value = cards.value.filter((c) => c.id !== cardToStudy.value?.id);
  if (cards.value.length > 0)
    cardToStudy.value = cards.value[0];
  else
    cardToStudy.value = null
}

const badAnswer = () => {
  if (cardToStudy.value == null) return;
  showAnswer.value = false;
  cards.value = cards.value.filter((c) => c.id !== cardToStudy.value?.id);
  cards.value.push(cardToStudy.value);
  cardToStudy.value = cards.value?.[0];
}

</script>

<template>
  <div class="container">
    <p v-if="loggedUser == null">Retrouvez ici les cartes à étudier</p>
    <p v-if="loggedUser != null && cardToStudy == null">Vous n'avez plus rien à étudier, félicitation :)</p>
    <Card v-if="cardToStudy != null" class="card">
      <template #content>
        <div class="question" v-html="marked.parse(cardToStudy?.recto)"/>
        <div v-if="showAnswer" v-html="marked.parse(cardToStudy?.verso)"/>
      </template>
      <template #footer>
        <div class="footer">
          <Button v-if="!showAnswer" aria-label="Retourner" icon="pi pi-replay" outlined rounded
                  @click="showAnswer = true"/>
          <Button v-if="showAnswer" aria-label="Faux" icon="pi pi-times" severity="danger" rounded
                  @click="badAnswer()"/>
          <Button v-if="showAnswer" aria-label="Correct" icon="pi pi-check" rounded @click="goodAnswer()"/>
        </div>
      </template>
    </Card>
    <Card class="card" v-if="loggedUser == null">
      <template #content>
        <p class="question">Comment apprendre avec les flashcards ?</p>
        <div v-if="showAnswer">
          <p>Les flashcards se basent sur deux principes : la répétition espacée, et l'auto évaluation. Pour en savoir
            plus, regardez <a href="https://www.youtube.com/watch?v=RVB3PBPxMWg">cette vidéo de David Louapre de la
              chaîne Science étonnante</a></p>
          <ul>
            <li>Créez des cartes avec au recto une question, et au verso sa réponse;</li>
            <li>Passez en revu vos cartes et décidez si vous avez bien ou mal répondu (c'est l'auto-évaluation);</li>
            <li>Plus vous répondez correctement à une carte, plus la durée jusqu'à sa prochaine apparition augmente
              (c'est la répétition espacée).
            </li>
          </ul>
        </div>
      </template>
      <template #footer>
        <div class="footer">
          <Button v-if="!showAnswer" aria-label="Retourner" icon="pi pi-replay" outlined rounded
                  @click="showAnswer = true"/>
          <Button v-if="showAnswer" aria-label="Faux" icon="pi pi-times" severity="danger" rounded/>
          <Button v-if="showAnswer" aria-label="Correct" icon="pi pi-check" rounded/>
        </div>
      </template>
    </Card>
  </div>
</template>

<style scoped>

img {
  display: block;
  margin: 0 auto;
}

.container {
  max-width: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  flex-basis: 100%;
  width: 100vw;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer button {
  margin: auto;
}

.question {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

</style>
