<script setup lang="ts">
import {provide, ref, watch} from 'vue';
import DeckService from "./services/DeckService.ts";
import SupabaseService from "./services/SupabaseService.ts";
import UserService from "./services/UserService.ts";
import {useRouter} from "vue-router";

const supabase = new SupabaseService().supabase
const userService = new UserService(supabase);
provide("UserService", userService)
const deckService = new DeckService(supabase, userService)
provide("DeckService", deckService)
const router = useRouter()
const nbCardToStudy = ref(0)

watch(deckService.getCardsToStudy(), (cardsToStudy) => {
  nbCardToStudy.value = cardsToStudy.length
})

const items = ref([
  {
    label: 'Home',
    route: '/',
    icon: 'pi pi-home'
  },
  {
    label: 'Decks',
    route: '/decks',
    icon: 'pi pi-database'
  },
  {
    label: 'Réviser',
    route: '/study',
    badge: nbCardToStudy,
    icon: 'pi pi-graduation-cap'
  }
])

const userItems = [
  {
    label: 'Se déconnecter',
    command: () => {
      logout()
    }
  },
]

const logout = () => {
  userService.logout().then(() => {
    router.push('/')
  })
}
</script>

<template>
  <div class="container">
    <Toast/>
    <nav>
      <MegaMenu :model="items">
        <template #item="{ item, props }">
          <router-link v-slot="{ href, navigate }" :to="item.route" custom>
            <a :href="href" v-bind="props.action" @click="navigate">
              <span :class="item.icon"/>
              <span class="ml-2">{{ item.label }}</span>
              <Badge class="ml-2" v-if="item.badge" :value="item.badge"/>
            </a>
          </router-link>
        </template>
        <template #end>
          <SplitButton text v-if="userService.getLoggedUser()?.value != null"
                       :label="userService.getLoggedUser().value?.user_metadata.first_name" :model="userItems"/>
        </template>
      </MegaMenu>
    </nav>
    <main>
      <RouterView/>
    </main>
  </div>
</template>

<style>

.question img {
  display: block;
  margin: 0 auto;
}

nav {
  width: 100%;
  margin-bottom: 2rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.ml-2 {
  margin-left: 0.5rem;
}
</style>
